.wrapper {
  background-image: url(../../assets/img/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  text-align: center;
}

.header {
  height: 120vh;
  z-index: 2;

  .p1 {
    font-size: 2rem;
    padding-top: 180px;
    font-weight: 400;
    margin-bottom: 25px;

    @media only screen and (min-width: 450px) {
      font-size: 2.5rem;
    }

    @media only screen and (min-width: 750px) {
      font-size: 3.4rem;
    }

    @media only screen and (min-width: 900px) {
      font-size: 3.9rem;
    }
  }

  .p2 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 30px;

    @media only screen and (min-width: 750px) {
      font-size: 1.8rem;
    }

    @media only screen and (min-width: 900px) {
      font-size: 2.3rem;
    }
  }

  .headerBtn {
    color: #ff4500;
    border-color: #ff4500;
  }
}

.intro {
  height: 100vh;
  padding-top: 100px;
  height: 610px;
  background-color: white;
  .description {
    margin: 0 auto;
    font-size: 16px;
    max-width: 540px;
    height: 540px;
    padding: 30px;
  }
}

.footer {
  background: rgba(94, 105, 121, 0.9);
  border-top: 5px solid #687980;
  height: 90px;
  text-align: center;
  width: 100%;
  padding-top: 30px;
}
