.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 70px 0px;
  margin-top: 5%;
  border: 1px solid #212529;
  border-radius: 3px;

  @media only screen and (min-width: 450px) {
    width: 70%;
  }

  @media only screen and (min-width: 750px) {
    width: 50%;
  }

  @media only screen and (min-width: 900px) {
    width: 40%;
  }

  @media only screen and (min-width: 1200px) {
    width: 30%;
  }

  #googleBtn {
    margin-bottom: 16px;

    #googleIcon {
    width: 21px;
  }
  }
  

  form {
    margin-bottom: 16px;
    border-bottom: 1px solid #b8b8b8;
  }

  .loginText {
    text-align: center;

    h1 {
      margin-bottom: 5px;
    }
  }

  form div:nth-child(1) {
    margin-bottom: 18px;
  }

  .loginBtn {
    text-align: center;
    margin-top: 10px;
  }

  .newUser {
    text-align: center;
    margin: 10px 0;

    a {
      text-decoration: none;
      color: #1e7ddb;
    }

    a:hover {
      color: #064686;
    }
  }
}
